body {
  background-color: $accent;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  .app {
    height: 600px;
    width: 1000px;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
  }
}

header {
  height: 10%;
  color: $light-grey;
  h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5 10px;
  font-size: 10px;
  text-align: right;
}
